.bg-image {
  background-image: url('/images/background/header.jpg');
  background-size:cover;
  background-position:center;
  position:relative;
  height:100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white; 
}

.bg-image #mouse {
  position: absolute;
  bottom: 4%;
}

.top-section {
  font-weight: bolder;
}

#about-us {
  text-align: center;
  /* padding: 10px; */
  font-weight: bold;
}

#services {
  background-image: url('/images/background/services.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
  position:relative;
  height:100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white; 
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

img {
  margin: 0 auto;
  margin-bottom: 15px;
}

.header {
  text-align: center;
}

#contact .header {
  color: #fff;
}

.col-sm-3 .text-box {
  display: block;
  left: 0;
  top: 0;
  width: 90%;
  height: 94%;
  position: absolute;
  margin: 0 auto;
  left: 50;
  right: 0;
  width: 90%; 
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: x-large;
  box-sizing: border-box;
}

input[type=text], textarea {
  opacity: 0.5;
  color: red;
  width: 100%;
  padding: 12px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

#contact {
  background-image: url("/images/background/contact-us.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
  height:100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid white 2px;
  color: black;
}
/* 
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
} */

}