.bg-image {
  background-image: url('../images/background/header.jpg');
  background-size:cover;
  background-position:center;
  position:relative;
  height:100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white; 
}

.bg-image #mouse {
  position: absolute;
  bottom: 4%;
}

.top-section {
  font-weight: bolder;
}

#about-us {
  text-align: center;
  padding: 30px;
  font-weight: bold;
}

#services {
  background-image: url('../images/background/services.jpg');
  background-size: cover;
  background-position:center;
  position:relative;
  height:45vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white; 
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

#what-we-do {
  padding: 20px;
}

#design, #development, #product {
  display: none;
  text-align: center;
}

img {
  margin: 0 auto;
  margin-bottom: 15px;
}

.header {
  text-align: center;
  padding: 20px;
}

#contact .header {
  color: #fff;
}

#blackie-text, #ontario-text, #orange-text, #jim-carrey-text, #elena-text, #wordpress-text, #burned-logo-text, #giraffe-text {
  color: black;
  position: absolute;
  top: 50%;
  font-family: Arial, Verdana;
  font-size: 1em;
  font-weight: bold;
  padding: 3px;
  background-color: white;
}

.text-box, #bailey {
  display:inline-block;
  left: 0;
  top: 0;
  height: 94%;
  position: absolute;
  margin-left: 15px;
margin-right: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: x-large;
  border: solid white 5px;
}

input[type=text], textarea {
  opacity: 0.5;
  color: red;
  width: 100%;
  padding: 12px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

#contact {
  background-image: url("../images/background/contact-us.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
  height:80vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: solid white 2px;
  color: black;
}

.footer {
  text-align: center;
  padding: 20px
}
